@import 'scssFiles/colors';
@import 'scssFiles/image';
@import 'scssFiles/links';
@import 'scssFiles/customSettings';
@import 'scssFiles/squareLayout';
@import 'scssFiles/basicLayout';
@import 'scssFiles/radius';
@import 'scssFiles/round';
@import 'scssFiles/headAndFoot';
@import  'scssFiles/headings';
@import 'scssFiles/flexContainer';
@import 'scssFiles/darkAndLight';
@import 'scssFiles/transitions';
@import 'scssFiles/modals';

li {
    // background-color: $secondary-color;
    // margin-right: 0px;
    // margin-left: 0px;
    border: 2px solid $third-color;
}

.divFlex {
    height: 75px;
    width: 75px;
    margin: auto;
    background-color: $third-color;
}

.leftDivFlex {
    @extend .divFlex;
    background-color: $secondaryDark;
}

.middleDivFlex {
    @extend .divFlex;
    background-color: $primaryDarker;
}

.rightDivFlex {
    @extend .divFlex;
    background-color: $thirdDark;
}

.inlineNav{
            margin-top: 10px;
            // height: 45px;
    ul, ol {
        li {
            display: inline;
            float: left;
            margin-right: 12px;
            margin-bottom: 12px;
            padding: 5px 3px;
            font-size: 1.5em;
            box-shadow: 5px 5px #a1a1a1;
            margin-top: 5px;
            a {
                display: block;
            }
            a:hover {
                // background-color: lighten($secondary-color, 8%);
            }
        }
    }
}

table {
    margin: 10px auto;
}

.contentBlock {
   border: 2px solid $secondary-color;
}

@media all and (max-width: 580px) {
    html {
        min-width: 580px;
        max-width: 580px;
    }
}

th, tr, td, table {
    border: 2px solid $third-color;
}