@import 'scssFiles/colors';
@import 'scssFiles/image';
@import 'scssFiles/links';
@import 'scssFiles/customSettings';
@import 'scssFiles/squareLayout';
@import 'scssFiles/basicLayout';
@import 'scssFiles/radius';
@import 'scssFiles/round';
@import 'scssFiles/headAndFoot';
@import  'scssFiles/headings';
@import 'scssFiles/flexContainer';
@import 'scssFiles/darkAndLight';
@import 'scssFiles/transitions';
@import 'scssFiles/modals';

li {
    // background-color: $secondary-color;
    // margin-right: 0px;
    // margin-left: 0px;
}

.divFlex {
    height: 75px;
    width: 75px;
    margin: auto;
    background-color: $third-color;
}

.leftDivFlex {
    @extend .divFlex;
    background-color: $secondaryDark;
}

.middleDivFlex {
    @extend .divFlex;
    background-color: $primaryDarker;
}

.rightDivFlex {
    @extend .divFlex;
    background-color: $thirdDark;
}

/*.inlineNav{
            margin-top: 10px;
            // height: 45px;
    ul, ol {
        li {
            display: inline;
            float: left;
            margin-right: 12px;
            margin-bottom: 12px;
            padding: 5px 3px;
            font-size: 1.5em;
            box-shadow: 5px 5px #a1a1a1;
            margin-top: 5px;
            a {
                display: block;
            }
            a:hover {
                // background-color: lighten($secondary-color, 8%);
            }
        }
    }
}*/

table {
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #fff;
}

@media all and (max-width: 685px) {
    html {
        min-width: 685px;
        max-width: 685px;
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul {
margin-bottom: 50px;
}

th, td {
    border: 1px solid #808080;
    margin: 0;
}

.rowDisplayDiv {
    width: 100%;
    margin: auto;
    display: block;
}

.navbar-nav {
    margin: 0;
}