@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Planned Project</h1>
    <p class="lead">
        Creating a Planned Project includes determining exactly what 
        tasks must be completed, how long they will take, and how much 
        time your group/organization is willing to commit.
        <br />
        One example of a Planned Project Methodology is the Waterfall Model.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Waterfall_model" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Go to the Edit Excel Page. Here you can add new feature entries into the excel worksheet. 
            The worksheet will take your estimates and come up with a weighted average.
            This average can be used to get a good estimate of how long each task will take.
            At the top there is a Totals table that will show you an estimation of how long the project will take.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Weighted_arithmetic_mean">Learn more &raquo;</a></p>
    </div>
</div>